<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="robots" content="noindex">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="{{item.author}}" />
            <meta name="date" content="{{date}}" />
        {% endblock meta %}

        <title>{% block title %}{{course.config.title}}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{'styles.css'|static_url}}">
            <link rel="stylesheet" id="customiseCSS" href="{{'light.css'|static_url}}">
            {% for css in course.config.css %}
                <link rel="stylesheet" href="{{css|static_url}}">
            {% endfor %}
            {% for css in item.data.css %}
                <link rel="stylesheet" href="{{css|static_url}}">
            {% endfor %}
        {% endblock stylesheets %}

        {% block javascript %}
            <script type="text/x-mathjax-config">{% include "mathjax_config.html" %}</script>
            <script defer src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script defer src="{{course.mathjax_url}}"></script>
            <script defer src="{{'customisation.js'|static_url}}"></script>
            {% for js in course.config.js %}
				<script defer src="{{js|static_url}}"></script>
            {% endfor %}
            {% for js in item.data.js %}
				<script defer src="{{js|static_url}}"></script>
            {% endfor %}
        {% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        {% block nav %}{% endblock %}
        <header>
            {% block header %}
            {% endblock header %}
        </header>
        <main>
            {% block main %}
                {{item.as_html()|safe}}
            {% endblock main %}
        </main>
		{% if item.has_footer %}
		{% include "footer.html" %}
		{% endif %}
    </body>
</html>

