{% import "macros.html" as macros %}
{% if not subitem.hidden %}
    {% if subitem.type == 'url' %}
        <a target="_blank" href="{{subitem.source|url}}">{{subitem.title}}</a>
    {% else %}
        <a href="{{subitem.url|url}}">{{subitem.title}}</a>
        {% if subitem.has_slides %}
            <a target="_blank" class="float-right ml-2" href="{{subitem.slides_url|url}}">{{macros.icon('desktop','Slides')}}</a>
        {% endif %}
        {% if subitem.has_pdf %}
            <a target="_blank" class="float-right ml-2" href="{{subitem.pdf_url|url}}">{{macros.icon('file-pdf-o','PDF')}}</a>
        {% endif %}
    {% endif %}
{% endif %}
