{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" id="customiseCodeCSS" href="{{'pygmentize.light.css'|static_url}}">
    <link rel="stylesheet" href="{{'codemirror-5.26.0/lib/codemirror.css'|static_url}}">
    <link rel="stylesheet" href="{{'boole.css'|static_url}}">
    <link rel="stylesheet" href="{{'numbasEmbed.css'|static_url}}">
{% endblock stylesheets %}

{% block javascript %}
    {{ super() }}
    <script defer src="{{'jquery.flexibleArea.js'|static_url}}"></script>
    <script defer src="{{'spin.min.js'|static_url}}"></script>
    <script defer src="{{'codemirror-5.26.0/lib/codemirror.js'|static_url}}"></script>
    <script defer src="{{'codemirror-5.26.0/mode/octave/octave.js'|static_url}}"></script>
    <script defer src="{{'codemirror-5.26.0/mode/python/python.js'|static_url}}"></script>
    <script defer src="{{'codemirror-5.26.0/mode/r/r.js'|static_url}}"></script>
    <script defer src="{{'boole.js'|static_url}}"></script>
    <script defer src="{{'numbasEmbed.js'|static_url}}"></script>
{% endblock %}


{% block nav %}
{% include "theme_customise.html" %}
{% if item.has_topbar %}
<nav aria-label="breadcrumb">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{'index.html'|url}}">{{course.config.title}}</a>
		</li>
		{% if item.parent %}
		<li class="breadcrumb-item">
			<a href="{{item.parent.url|url}}">{{item.parent.title}}</a>
		</li>
		{% endif %}
		<li class="breadcrumb-item active">
			{{item.title}}
		</li>
		<li class="ml-auto">
			<button class="navbar-toggler p0" type="button" data-toggle="collapse" data-target="#navbarToggleCustomise" aria-controls="navbarToggleCustomise" aria-expanded="false" aria-label="Toggle customisations panel">
				{{macros.icon('cog','Toggle customisations panel')}}
			</button>
		</li>
	</ul>
</nav>
{% else %}
<button class="navbar-toggler standalone-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleCustomise" aria-controls="navbarToggleCustomise" aria-expanded="false" aria-label="Toggle customisations panel">
	<span class="fa fa-cog"></span>
</button>
{% endif %}
{% endblock %}

{% block title %}{{item.title}} | {{ super() }}{% endblock title %}
