{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" id="customiseCodeCSS" href="{{'pygmentize.light.css'|static_url}}">
{% endblock stylesheets %}

{% block nav %}
<div class="collapse" id="navbarToggleCustomise">
	<div class="bg-secondary text-white p-2">
		<p>Theme Customisation</p>
		<form onsubmit="return false;" id="navbarCustomise" class="form-inline">
			<button class="btn btn-dark mr-2" value="dark">Dark</button>
			<button class="btn btn-pastel mr-2" value="pastel">Pastel</button>
			<button class="btn btn-light mr-4" value="light">Light</button>
			<label class="mr-2" for="font-scale">Font size (<span id="font-size-display">100%</span>)</label>
			<input type="range" class="form-control-range col-md-3 mr-2" id="font-scale" min="60" max="700" value="100">
		</form>
	</div>
</div>
<nav aria-label="breadcrumb">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{'index.html'|url}}">{{course.config.title}}</a>
		</li>
		{% if item.parent %}
		<li class="breadcrumb-item">
			<a href="{{item.parent.url|url}}">{{item.parent.title}}</a>
		</li>
		{% endif %}
		<li class="breadcrumb-item active">
			{{item.title}}
		</li>
		<li class="ml-auto">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleCustomise" aria-controls="navbarToggleCustomise" aria-expanded="false" aria-label="Toggle customisations panel">
				{{macros.icon('cog','Toggle customisations panel')}}
			</button>
		</li>
	</ul>
</nav>
{% endblock %}

{% block title %}{{item.title}} | {{ super() }}{% endblock title %}
