{% extends "base.html" %}

{% block header %}
<div class="container">
	<h1 class="jumbotron-heading">{{item.title}}</h1>
	<div class="lead text-muted">
		{{ item.as_html() }}
	</div>
</div>
{% endblock header %}

{% block nav %}
<nav aria-label="breadcrumb">
	<ul class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{'index.html'|url}}">{{course.config.title}}</a>
		</li>
		<li class="breadcrumb-item active">
			{{item.title}}
		</li>
	</ul>
</nav>
{% endblock %}

{% block main %}
<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">
			{% for subitem in item.content %}
			<div class="col-md-4 pb-4">
				<div class="card mb-4 h-100 box-shadow">
					<div class="card-body">
						<p class="card-text">
						<ul class="list-unstyled">
							{% if not subitem.hidden %}
							{% if subitem.type == 'url' %}
							<a target="_blank" href="{{subitem.source}}">{{subitem.title}}</a>
							{% else %}
							<a href="{{subitem.url|url}}">{{subitem.title}}</a>
							{% if subitem.has_slides %}
							<a target="_blank" class="float-right ml-2" href="{{subitem.slides_url|url}}"><i class="fa fa-desktop"></i></a>
							{% endif %}
							{% if subitem.has_pdf %}
							<a target="_blank" class="float-right ml-2" href="{{subitem.pdf_url|url}}"><i class="fa fa-file-pdf-o"></i></a>
							{% endif %}
							{% endif %}
							{% endif %}
						</ul>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<section>
	{% include "theme_switch.html" %}
</section>
{% endblock main %}
