{% extends "chapter.html" %}
{% import "macros.html" as macros %}

{% block main %}
    <div class="container mt-3">
        <div class="row">
            {% if item.has_sidebar %}
            <div id="sidebar" class="col-md-3">
                <nav class="mb-3" id="chapterTOC" data-toggle="toc">
                    <ul class="nav navbar-nav">
                        {% if item.has_slides %}
                        <li><a class="nav-link" href="{{item.slides_url|url}}" target="_blank">{{macros.icon('desktop','View as Slides',True)}}</a></li>
                        {% endif %}
                        {% if item.has_pdf %}
                        <li><a class="nav-link" href="{{item.pdf_url|url}}" target="_blank">{{macros.icon('file-pdf-o','Download Slides as PDF',True)}}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div id="content" class="col-md-9"> 
            {% else %}
            <div id="content" class="col-md-12">
			<div class="standalone-nav">
				{% if item.has_slides %}
				<a class="standalone-navitem" href="{{item.slides_url|url}}" target="_blank"><i class="fa fa-desktop"></i>&nbsp;View as Slides</a>
				{% endif %}
				{% if item.has_pdf %}
				<a class="standalone-navitem" href="{{item.pdf_url|url}}" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;Download as PDF</a>
				{% endif %}
			</div>
            {% endif %}
                {{item.as_html()|safe}}
            </div>
        </div>
    </div>
{% endblock main %}
