{% extends "item.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{'codemirror-5.26.0/lib/codemirror.css'|static_url}}">
<link rel="stylesheet" href="{{'boole.css'|static_url}}">
<link rel="stylesheet" href="{{'pygmentize.css'|static_url}}">
<link rel="stylesheet" href="{{'nclexam.css'|static_url}}">
<link rel="stylesheet" href="{{'print.css'|static_url}}">
{% endblock stylesheets %}

{% block javascript %}
{{ super() }}
<script defer src="{{'jquery.flexibleArea.js'|static_url}}"></script>
<script defer src="{{'spin.min.js'|static_url}}"></script>
<script defer src="{{'codemirror-5.26.0/lib/codemirror.js'|static_url}}"></script>
<script defer src="{{'codemirror-5.26.0/mode/octave/octave.js'|static_url}}"></script>
<script defer src="{{'codemirror-5.26.0/mode/python/python.js'|static_url}}"></script>
<script defer src="{{'codemirror-5.26.0/mode/r/r.js'|static_url}}"></script>
<script defer src="{{'boole.js'|static_url}}"></script>
{% endblock %}

{% block nav %}
<nav>
	<a href="{{'index.html'|url}}">{{course.config.title}}</a> - 
	<a href="{{item.parent.url|url}}">{{item.parent.title}}</a> - {{item.title}}
</nav>
{% endblock %}

{% block main %}
<nav>
<ul style="list-style-type:none">
	{% if item.has_slides %}
	<li><a class="nav-link" href="{{item.slides_url|url}}" target="_blank"><i class="fa fa-desktop"></i>&nbsp;View as Slides</a></li>
	{% endif %}
	{% if item.has_pdf %}
	<li><a class="nav-link" href="{{item.pdf_url|url}}" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp;Download Chapter as PDF</a></li>
	{% endif %}
</ul>
</nav>
{{item.as_html()|safe}}
{% endblock main %}
