<!doctype html>
<html lang="en">
	<head>
		{% block meta %}
		<meta charset="utf-8">
		<meta name="robots" content="noindex">
		<meta name="author" content="{{course.config.author}}" />
		<meta name="date" content="{{date}}" />
		{% endblock meta %}

		<title>{% block title %}{{item.title}}{% endblock %}</title>

		{% block stylesheets %}
		<link rel="stylesheet" href="{{'pygmentize.css'|static_url}}">
		<link rel="stylesheet" href="{{'reveal.js/css/reveal.css'|static_url}}">
		<link id="customiseCSS" rel="stylesheet" href="{{'reveal.js/css/theme/white.css'|static_url}}">
		<link rel="stylesheet" href="{{'slides.css'|static_url}}">
		<link rel="stylesheet" href="{{'codemirror-5.26.0/lib/codemirror.css'|static_url}}">
		<link rel="stylesheet" href="{{'boole.css'|static_url}}">
		{% for css in item.data.css %}
		<link rel="stylesheet" href="{{css|static_url}}">
		{% endfor %}
		{% endblock stylesheets %}

		{% block javascript %}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
		<script defer src="{{'jquery.flexibleArea.js'|static_url}}"></script>
		<script defer src="{{'spin.min.js'|static_url}}"></script>
		<script defer src="{{'codemirror-5.26.0/lib/codemirror.js'|static_url}}"></script>
		<script defer src="{{'codemirror-5.26.0/mode/octave/octave.js'|static_url}}"></script>
		<script defer src="{{'codemirror-5.26.0/mode/python/python.js'|static_url}}"></script>
		<script defer src="{{'codemirror-5.26.0/mode/r/r.js'|static_url}}"></script>
		<script src="{{'customisation.js'|static_url}}"></script>
		<script src="{{'boole.js'|static_url}}"></script>
		<script>
			if( window.location.search.match( /print-pdf/gi )){
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = "{{'reveal.js/css/print/pdf.css'|static_url}}";
				document.getElementsByTagName( 'head' )[0].appendChild( link );
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = "{{'slides_print.css'|static_url}}";
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
		<script type="text/x-mathjax-config">{% include "mathjax_config.html" %}</script>
		{% endblock %}

	</head>
	<body {% block body_attributes %}{% endblock %}>
		<div class="reveal">

			{% block header_slides %}
			<div class="header-l">{{item.title}}</div>
			<div class="header-r">{{course.config.author}}</div>
			{% endblock %}

			<div class="slides">
				{% block title_slide %}
				<section id="title-slide">
					<h1 class="title">{{item.title}}</h1>
					<p class="author">{{course.config.author}}</p>
				</section>
				{% endblock %}

				{% block main_slides %}
				<section data-splitter data-separator="<hr/?>" data-separator-notes="^Data-Note:">
					<textarea data-template>
						{{item.as_html()|safe}}
					</textarea>
				</section>
				{% endblock %}

			</div>

		</div>
		<script src="{{'reveal.js/js/reveal.js'|static_url}}"></script>
		<script src="{{'reveal.js/lib/js/head.min.js'|static_url}}"></script>
		<script>
			Reveal.initialize({
				dependencies: [
					{ src: "{{'reveal.js/plugin/splitter/splitter.js'|static_url}}" },
					{ src: "{{'reveal.js/plugin/math/math.js'|static_url}}" },
					{ src: "{{'reveal.js/plugin/notes/notes.js'|static_url}}", async: true },
					{ src: "{{'reveal.js/plugin/highlight/highlight.js'|static_url}}", async: true }
				]
			});
		</script>
	</body>
</html>
