<div class="numbas_container" data-numbas-id="{{id}}" data-numbas-url="{{url}}">
    <div class="feedback_bar">
        <button class="btn btn-danger" data-target="#{{id}}_collapse" data-toggle="collapse">
            Test Yourself
        </button>
        <div class="feedback_right">
            Best score:
            <span class="mr-1 score">0</span>/<span class="mr-3 ml-1 marks">0</span>
            Completed:
            <span class="complete">✔</span>
            <span class="incomplete">✕</span>
        </div>
    </div>
    <div class="collapse-content collapse embed" id="{{id}}_collapse">
        <iframe class="numbas_iframe" src="{{url}}"></iframe>
    </div>
</div>
