.runnable-code-wrapper {
	display: grid;
	grid-template:
		"code code code" "run output ." / auto 1fr;
	grid-gap: 0 var(--spacing);
	margin: var(--spacing) 0;
}

@media (max-width: 40rem) {
    .runnable-code-wrapper {
	   grid-template:
		   "code"
		   "run"
		   "output"
	   ;
	}
}

.runnable-code-wrapper button.run-code {
	align-self: start;
	grid-area: run;
	padding: calc(0.5 * var(--spacing));
	font-size: inherit;
	/*! border: none; */
}

.runnable-code-wrapper .code {
	grid-area: code;
	border: 1px solid var(--text-colour);
	padding: var(--spacing);
	color: black;
	background: white;
}

.runnable-code-wrapper .output {
	grid-area: output;
	padding: var(--spacing);
	border: 1px solid var(--text-colour);
	border-top: none;
	margin: 0;
	max-height: 20em;
	overflow-y: auto;
}

.runnable-code-wrapper:not([data-state="ran"]) .output {
	background: var(--bg-colour-accent-4);
	color: var(--text-colour-accent-4);
	font-style: italic;
}

.runnable-code-wrapper[data-state="fresh"] .output {
	display: none;
}


@media print {
	.runnable-code-wrapper button.run-code {
		display: none;
	}
}