pre.ran {
	border-top: 1px solid #ccc;
	padding: 5px;
}

button.run-code {
	display: block;
	padding: 5px 10px 5px 10px;
	border: none;
}

pre.cm-block {
	border: 1px solid #ccc;
}

div.highlight > pre {
	border: 1px solid #ccc;
	padding: 5px;
}

pre.output-block {
	border: 1px solid #ccc;
	border-top: none;
	padding: 5px;
	margin-top: -1rem;
}

p code, li code, table code {
	border-radius: 3px;
	margin: 0;
	padding: .2em .4em;
}

.CodeMirror {
	height: auto;
	min-height: 3rem;
}

.CodeMirror-scroll{
	min-height: 3rem;
}

.reveal pre {
	width:100%;
	margin: 0 0 10px 0;
	box-shadow: none;
	border: 1px solid #ccc;
	font-size: 0.85em;
}

.reveal pre.ran {
	margin: -10px 0 10px 0;
	border-top: none;
	padding: 5px 0px 5px 0px;
}

.reveal button.run-code {
	padding: 5px 10px 8px 10px;
	font-size: 0.7em;
	margin: 0;
}

.reveal button.run-code:focus, .reveal code:focus {
    outline: none !important;
}

.reveal pre.output-block {
	margin-top: -0.4em;
	border: 1px solid #ccc;
}

.reveal code {
	padding: 0;
}

.reveal pre.cm-block code {
	min-height: 1.5rem;
	white-space: pre;
	padding: 10px;
}
