:root {
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

aside { 
    display: none;
}

html {
    font-size: 4vmin;
    font-family: sans-serif;
}

body {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
h2 {
    margin: 0;
    font-size: 1.1em;
}

body > main {
    display: block;
    overflow: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


body > main > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1em;
    margin: var(--spacing) 0;
    scroll-snap-align: start;
}

main > section {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0px 1em;
    scroll-snap-align: center;
    grid-auto-rows: max-content;
    align-content: center;
    overflow-y: hidden;
    /*! grid-template-rows: auto; */
}

@media (orientation: portrait) {
    main > section {
        height: auto;
        scroll-snap-align: none;
    }
    main > section + section {
        margin-top: 5em;
        padding-top: 5em;
        border-top: 0.5vh dashed white;
    }
}

main > section:focus {
    outline: none;
}
main > section > p {
    line-height: 1.5em;
}
main > section > h1,
main > section > h2
{
    align-self: start;
}
main > section > ul {
    text-align: left;
}
main > section > ul > li ~ li {
    margin-top: 0.5em;
}

main > section img,
main > section svg,
main > section video
{
    max-width: 100%;
    max-height: 60vh;
    width: 100vw;
    object-fit: contain;
    margin: 1rem 0;
    border-radius: 0.3em;
}

main > section figure,
main > section p {
    margin: 0;
}

main > section p + p {
    margin-top: 1em;
}

main > section img {
}

main > section .full-height {
    max-height: 90vh;
}

main > section blockquote {
    max-width: 20em;
    line-height: 1.8em;
}
main > section > iframe {
  width: 80%;
  height: 75vh;
  border: none;
  border-radius: 1em;
}

footer {
    position: absolute;
    bottom: 0.5em;
    font-size: 0.6em;
    text-align: center;
    left: 0.5em;
}

footer #url {
    color: #333;
    text-decoration: none;
}

dl {
  text-align: left;
}

dt {
  font-weight: bold;
}

dl > * ~ dt {
  margin-top: 1em;
}
