body {
	top:0;
}

.intro-container {
	margin-top: 3rem!important;
	margin-bottom: 3rem!important;
}

.intro-header {
	font-weight: 300;
}

.intro-author, .intro-year {
	font-size: 1.8em;
}

.intro-content {
	font-size: 1.25em;
}

.card-header h2 {
    font-size: 1.3rem;
}

.breadcrumb {
	border-radius: 0px;
}
.breadcrumb-item > a:hover,
.breadcrumb-item > a:focus {
	text-decoration: none;
}
.standalone-toggler{
	position: absolute;
	top:0;
	right:0;
}
.standalone-nav{
	display: flex;
	margin-bottom: 0.5rem;
}
.standalone-navitem{
	margin-right: 1rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.nav-links{
  display:none;
}

.id-link{
  display:none;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.tikzpicture{
    max-width: 400px;
    width: 100%;
		display: inline;
}

.flushright{
  text-align: right;
}

.fbox{
  border: 1px solid;
  display: inline-block;
  padding: 3pt;
}

.minipage{
  display: inline-block;
}

.centered{
  display:block;
  text-align: center;
}

/* Try to match LaTeX table styles */
.tabular {
	display: inline-block;
  width: initial;
	border-top: initial;
	border-bottom: initial;
	line-height: initial;
}
.tabular p {
	margin: 0;
}
.tabular td {
	padding: 0.1em 0.5em;
}
/*------*/

h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1.15rem;
}

.hidden {
  display:none;
}

* ~ .section {
    margin-top: 3rem;
}

* ~ .subsection {
    margin-top: 2rem;
}

section.section1 + section.section1 {
	margin-top: 3rem;
}

img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

tr, img {
    page-break-inside: avoid;
}

.vimeo-aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.vimeo-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.recap-aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.recap-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.youtube-aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

.youtube-aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.oembed > iframe {
    margin: 0 auto;
    display: block;
}

.theme-switch {
  font-size: 13px;
}

.theme-switch .form-control {
  width: auto;
  font-size: 13px;
}

#navbarCustomise #font-scale {
	display: inline-block;
}
#navbarCustomise #p-space {
	display: inline-block;
}

thead {
  line-height: 3rem;
}

table {
	width: 100%;
  margin-bottom: 1rem;
	line-height: 2rem;
}

.exercise {
  padding: 10px;
  margin-bottom:20px;
  border: 1px solid;
  border-radius: 5px;
}

.interlude {
  padding: 10px;
  margin-bottom:20px;
  border: 1px solid;
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.CodeMirror {
  min-height: 30px;
}

.CodeMirror-scroll {
  min-height: 30px;
}

pre {
	font-size: 110%;
}

.thin-table {
    text-align: center;

}

.thin-table table {
    max-width: 250px;
    margin-left: 10px;
}

figure {
      text-align: center;
}
figure + em, .reveal figure + em {
  display: inherit;
  text-align: center;
  font-size: 0.8em;
  margin-top: -10px;
}

.caption_title {
	font-weight: bold;
}
.caption_ref {
	font-weight: bold;
}

.wrapfig {
	max-width: 35%;
}

.ttfamily{
  font-family: "Courier New", Courier, monospace;
}

.bibliography>li>p:first-of-type, .itemize>li>p:first-of-type,
.enumerate>li>p:first-of-type {
  display: inline;
}

.bibliography .bibcite {
	display: inline-block;
	margin-right: 0.5em;
}

.btn-pastel {
	color: #222;
	background-color: #FFFFE6;
	border-color: #FFFFE6;
}
#font-size-display {
	width: 2.5rem;
	text-align: center;
}

.beamer-columns {
	display: flex;
	justify-content: space-evenly;
}

.beamer-frame > header {
  margin-bottom: 1.0rem;
}
.beamer-frame-title {
  font-size: 1.5rem;
}
.beamer-frame-subtitle {
  font-size: 1.3rem;
}
.beamer-section-heading {
  overflow: hidden;
  height: 0;
  margin: 0;
}
.beamer-section-title {
  font-size: 2rem;
}
.beamer-subsection-title {
  font-size: 1.5rem;
}
.beamer-subsubsection-title {
  font-size: 1.3rem;
}

.kframe {
	margin-top: 1rem;
}

.collapse-content {
	margin-bottom: 1rem;
}

.tcolorbox {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.5em;
}

.tcolorbox .frametitle {
  font-weight: 400;
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 1em;
}

.thmcaption, .thmlabel {
	font-weight: bold;
}

.proof_caption {
	font-style: italic;
}

blockquote {
  margin: 1.5em 0.75em;
  padding: 0.5em 1.0em;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

blockquote > p {
  margin: 0 !important;
}

.subfigure {
  display: inline-block;
}

.revtex-affiliation {
  font-style: italic; 
}
