{% extends "base.html" %}

{% block title %}{{item.title}} - {{course.config.title}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{'reveal.js/dist/reveal.css'|static_url}}">
    <link rel="stylesheet" href="{{'slides.css'|static_url}}">

    {{ super() }}
{% endblock stylesheets %}

{# MathJax is provided by reveal.js #}
{% block math_javascript %}
    <script defer src="{{'mathjax_config.js'|static_url}}"></script>
{% endblock %}

{% block body %}
    {% block customisation %}
        {% include "theme_customise.html" %}
    {% endblock customisation %}

    <main class="reveal">
        {% block slides_main %}

        {% block header_slides %}
        <header>
            <div id="slides-title">{{item.title}}</div>
            <div id="slides-author">{{item.author}}</div>
        </header>
        {% endblock header_slides %}

        <div class="slides">
            {% block title_slide %}
                {% if item.title_slide %}
                <section id="title-slide">
                    <h1 class="title">{{item.title}}</h1>
                    <p class="author">{{item.author}}</p>
                </section>
                {% endif %}
            {% endblock %}

            {% block main_slides %}
                {% if item.source.suffix == '.md' %}
                    <section data-splitter data-separator="<hr/?>" data-separator-notes="^Data-Note:">
                        <textarea data-template>
                            {{item.as_html(item.out_slides)|safe}}
                        </textarea>
                    </section>
                {% else %}
                    {{item.as_html(item.out_slides)|safe}}
                {% endif %}
            {% endblock %}
        </div>

        {% endblock slides_main %}
    </main>

    <button type="button" aria-controls="display-options" aria-expanded="false">
        {% trans %}Display options{% endtrans %}
    </button>

    {% block footer_slides %}
    <script type="module">
        import Reveal from '{{'reveal.js/dist/reveal.esm.js'|static_url}}';
        import Markdown from '{{'reveal.js/plugin/markdown/markdown.esm.js'|static_url}}';
        import Notes from '{{'./reveal.js/plugin/notes/notes.esm.js'|static_url}}';
        import Highlight from '{{'./reveal.js/plugin/highlight/highlight.esm.js'|static_url}}';
        import RevealMath from '{{'./reveal.js/plugin/math/math.esm.js'|static_url}}';
        Reveal.initialize({
            jumpToSlide: false,

            hash: true,
            plugins: [ Markdown, Highlight, Notes, RevealMath.MathJax3 ],
            history: true,

            embedded: window.parent != window,

            autoAnimate: false,

            transition: 'none',

            backgroundTransition: 'none',

            mathjax3: window.MathJax {# Use the MathJax config loaded from mathjax_config.js #}
        });

        window.Reveal = Reveal;

    </script>
    {% endblock footer_slides %}
{% endblock body %}
