@media print {
	@page {
		margin: 4.0cm 3.225cm;
	}
	body {
		background: #FFF !important;
	}
	nav {
		display: none;
	}
	pre {
		font-size: 100%;
	}
	section.exercise,section.interlude {
		page-break-inside: avoid;
	}
	pre.output-block{
		page-break-before: avoid;
	}
	h1, h2, h3 {
		page-break-after: avoid;
	}
}
