body{
	margin:0 auto;
	line-height:2.5rem;
	color: #222;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: hsl(60, 100%, 96%);
}

main, footer{
	max-width:800px;
	margin-left: auto;
	margin-right: auto;
	color: black !important;
}

a, a:visited {
	text-decoration: none;
	color: #2A5DB0;
}

a:hover, a:focus {
	color: #2548AB;
	text-decoration: underline;
}

p {
	margin: 4rem 0;
}

h1, h2 {
	margin: 4rem 0;
}

li {
	margin: 2rem 0;
}

nav {
	margin-bottom: 4rem;
}

/* Try to match LaTeX table styles */
.tabular {
	display: inline-block;
  width: initial;
	border-top: initial;
	border-bottom: initial;
	line-height: initial;
}
.tabular p {
	margin: 0;
}
.tabular td {
	padding: 0.1em 0.5em;
}
/*------*/

figure {
      text-align: center;
}

figure + em, .reveal figure + em {
  display: inherit;
  text-align: center;
  margin-top: -10px;
}

.caption_title {
	font-weight: bold;
}
.caption_ref {
	font-weight: bold;
}


.centered {
	text-align: center;
}

.wrapfig{
	float: initial !important;
	text-align: center;
}
.wrapfig > img {
	width: initial !important;
}

.flushright {
	text-align: right;
}

img {
  max-width: 100%;
  max-height: 60vh;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
	width: initial !important;
}

.theme-switch {
	float: right;
	margin-bottom: 3rem;
}

.vimeo-aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}

.vimeo-aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.recap-aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}

.recap-aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.youtube-aspect-ratio iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
}

.youtube-aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.numbas {
    width: 100%;
    height: 1000px;
}

.bibliography>li>p:first-of-type, .itemize>li>p:first-of-type,
.enumerate>li>p:first-of-type {
  display: inline;
}

.bibliography .bibcite {
	display: inline-block;
	margin-right: 0.5em;
}

pre.output-block {
	margin-top: -1.25rem !important;
}
