{% import "macros.html" as macros %}
<!doctype html>
<html lang="{{course.config.locale}}">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="robots" content="noindex">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="author" content="{{item.author}}" />
            <meta name="date" content="{{date}}" />
        {% endblock meta %}

        <title>{% block title %}{{course.config.title}}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{'styles.css'|static_url}}">
            {% for css in course.config.css %}
                <link rel="stylesheet" href="{{css|static_url}}">
            {% endfor %}
            {% for css in item.data.css %}
                <link rel="stylesheet" href="{{css|static_url}}">
            {% endfor %}
        {% endblock stylesheets %}

        {% block javascript %}
			<script>
				var chirun_static_url="{{'.'|static_url}}";
			</script>

            {% block math_javascript %}
                <script defer src="{{'mathjax_config.js'|static_url}}"></script>
                <script type="text/javascript" id="MathJax-script" defer src="{{course.config.mathjax_url}}"></script>
            {% endblock math_javascript %}

            <script type="module" src="{{'localisation.js'|static_url}}"></script>

            <script defer src="{{'customisation.js'|static_url}}"></script>

            {% for js in course.config.js %}
				<script defer src="{{js|static_url}}"></script>
            {% endfor %}

            {% for js in item.data.js %}
				<script defer src="{{js|static_url}}"></script>
            {% endfor %}
        {% endblock %}

        <template id="runnable-code-template">
            <link rel="stylesheet" href="{{'code.css'|static_url}}">
            <div class="runnable-code-wrapper">
                <div class="code"></div>
                <button type="button" class="run-code">Run code</button>
                <div class="output" aria-live="polite">
                    <pre class="stdout"></pre>
                    <pre class="result"></pre>
                    <div class="images"></div>
                </div>
            </div>
        </template>

        <template id="embed-numbas-template">
            <link rel="stylesheet" href="{{'embed_numbas.css'|static_url}}">
            <details id="wrapper" data-completion-status="incomplete">
                <summary>
                    <h1 id="title">{% trans %}Test Yourself{% endtrans %}</h1>
                    <div id="completion-status" data-completion-status="unknown">
                        <span class="complete">{% trans %}Complete{% endtrans %}</span>
                        <span class="incomplete">{% trans %}Incomplete{% endtrans %}</span>
                    </div>
                    <label id="score-feedback">
                        {% trans %}Score:{% endtrans %}
                        <progress min="0"></progress>
                    </label>
                </summary>
                <iframe class="embed" title="Numbas"></iframe>
            </details>
        </template>

    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
        {% block body %}

        <a class="skip-to-content-link" href="#main-content">{% trans %}Skip to content{% endtrans %}</a>
        {% block customisation %}
            {% include "theme_customise.html" %}
        {% endblock customisation %}

        <header>
            {% include "display_options_button.html" %}
            {% block page_nav %}{% endblock %}
            {% block header %}
            {% endblock header %}
        </header>

        <main id="main-content">
            {% block main %}
                <article class="item-content">
                    {{item.as_html()|safe}}
                </article>
            {% endblock main %}
        </main>

		{% if item.has_footer %}
		{% include "footer.html" %}
		{% endif %}

        {% endblock body %}

        {% include "icons.svg" %}
    </body>
</html>

