{% extends "item.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{'print.css'|static_url}}">
{% endblock stylesheets %}

{% block main %}
    <nav id="sidebar">
        {% if item.has_alternative_formats() %}
        <ul class="alternative-formats">
            {% for format in item.alternative_formats() %}
            <li><a rel="alternate" type="{{format.mime_type}}" href="{{format.url|url}}"{% if format.download %}download{% endif %}>{{macros.icon(format.name|lower, format.name)}} {% if format.download %}{% trans format=format.name %}Download as {{format}}{% endtrans %}{% else %}{% trans format=format.name%}View as {{format}}{% endtrans %}{% endif %}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>{% trans %}Table of Contents{% endtrans %}</h1>
        <a class="jump-to-item-content" href="#item-content">{% trans %}Jump to content{% endtrans %}</a>
        {% if item.has_sidebar %}
            <ol class="table-of-contents" role="tree">
                {% with headers=item.get_headers(), level=1 %}
                    {% include "toc_items.html" %}
                {% endwith %}
            </ol>
        {% endif %}

    </nav>

    <article class="item-content" id="item-content">
        {{item.as_html()|safe}}
    </article>
{% endblock main %}
