{% extends "chapter.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{'nclexam.css'|static_url}}">
{% endblock stylesheets %}

{% block main %}
<div class="container mt-3">
	<div class="row">
		<div class="col-md-12">
			{% if item.has_pdf %}
            <div style="float:right;"><a class="nav-link" href="{{item.pdf_url|url}}" target="_blank">{{macros.icon('file-pdf-o',_('Download as PDF'),True)}}</a></div>
			{% endif %}
			{{item.as_html()|safe}}
		</div>
	</div>
</div>
{% endblock main %}
