{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block body_class %}{{super()}} structure{% endblock %}

{% block header %}
    {% if item.has_topbar %}
        <div id="topbar">
            <h1 class="title">{{course.config.title}}</h1>
            <p class="author">{{course.config.author}}</p>
            {% if course.config.year %}
            <p class="year">{{course.config.year}}</p>
            {% endif %}
            <p class="leading-text">{{ item.leading_text }}</p>
        </div>
    {% endif %}

    {% if item.location == 'above' %}
        <section class="intro-content">
            {{ item.as_html()|safe }}
        </section>
    {% endif %}
{% endblock header %}

{% block main %}
    {% with structure=course.structure %}
        {% include "structure.html" %}
    {% endwith %}

    {% if item.location == 'below' %}
    <section class="intro-content">
        {{ item.as_html()|safe }}
    </section>
    {% endif %}

    {% if course.get_zipfile_name() %}
    <section class="zipfile-download">
        <p><a href="{{course.get_zipfile_name()}}" download>{% trans %}Download a copy of these notes.{% endtrans %}</a></p>
    </section>
    {% endif %}
{% endblock main %}
