{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" id="customiseCodeCSS" href="{{'pygmentize.css'|static_url}}">
{% endblock stylesheets %}

{% block javascript %}
    {{ super() }}
    <script defer src="{{'code.js'|static_url}}" type="module"></script>
    <script defer src="{{'embed_numbas.js'|static_url}}" type="module"></script>
    <script defer src="{{'embed_qrcode.js'|static_url}}" type="module"></script>
{% endblock %}


{% block page_nav %}
    {% if item.has_topbar %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{'index.html'|url}}">{{course.config.title}}</a>
            </li>
            {% if item.parent %}
            <li class="breadcrumb-item">
                <a href="{{item.parent.url|url}}">{{item.parent.title}}</a>
            </li>
            {% endif %}
            <li class="breadcrumb-item active">
                {{item.title}}
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock page_nav %}

{% block title %}{{item.title}} | {{ super() }}{% endblock title %}
