{% extends "item.html" %}
{% import "macros.html" as macros %}

{% block body_class %}{{super()}} structure{% endblock %}

{% block header %}
    <h1>{{item.title}}</h1>
{% endblock header %}

{% block main %}

    {% if item.type == 'document' %}
    <ul class="alternative-formats">
        {% for format in item.alternative_formats() %}
        <li>
            <a class="undecorated" href="{{format.url|url}}"{% if format.download %} download{% endif %} title="{{format.name}}">
                {{macros.icon(format.name|lower, format.name)}} 
                {% trans format=format.name %}Download this document as {{format}}{% endtrans %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <article class="item-content">
        <section class="leading-text">
            <p>{{ item.leading_text }}</p>
        </section>
        <section>
            {{item.as_html()|safe}}
        </section>
    </article>

    {% with structure=item.content %}
        {% include "structure.html" %}
    {% endwith %}
{% endblock main %}
