{% extends "item.html" %}

{% block stylesheets %}
    {{ super() }}

    <link rel="stylesheet" href="{{'slides.css'|static_url}}">

{% endblock stylesheets %}

{% block body %}
    {% block customisation %}
        {% include "theme_customise.html" %}
    {% endblock customisation %}

    <main>
        {% block slides_main %}

            {% block header_slides %}
            <header>
                <div id="slides-title">{{item.title}}</div>
                {% if item.author %}
                <div id="slides-author">{{item.author}}</div>
                {% endif %}

                <button type="button" aria-controls="display-options" aria-expanded="false">
                    {% trans %}Display options{% endtrans %}
                </button>

            </header>
            {% endblock header_slides %}

            {% block title_slide %}
                {% if item.title_slide %}
                <section id="title-slide">
                    <h1 class="title">{{item.title}}</h1>
                    {% if item.author %}
                    <p class="author">{{item.author}}</p>
                    {% endif %}
                </section>
                {% endif %}
            {% endblock %}

            {% block main_slides %}
                {{item.as_html(item.out_slides)|safe}}
            {% endblock %}

        {% endblock slides_main %}
    </main>
{% endblock body %}
