<ul class="chirun-structure">
{% for partitem in structure %}
    {% if partitem.type != 'introduction' %}
    <li>
        <article class="item">
            {% if partitem.content %}
                {% include "subitem.html" %}
            {% else %}
                <header>
                    {% if partitem.thumbnail %}
                    <img class="card-img-top" src="{{partitem.thumbnail|static_url}}" alt="{% trans title=partitem.title %}Thumbnail image for part {{title}}{% endtrans %}">
                    {% endif %}
                </header>

                {% with subitem=partitem %}
                {% include "inner_subitem.html" %}
                {% endwith %}
            {% endif %}
        </article>
    </li>
    {% endif %}
{% endfor %}
</ul>
