<ul class="chirun-structure">
{% for partitem in structure %}
    {% if not partitem.is_hidden and partitem.type != 'introduction' %}
    <li>
        <article class="item{% if partitem.content %} has-content{% endif %}">
            {% if partitem.content %}
                {% include "subitem.html" %}
            {% else %}
                {% if partitem.thumbnail %}
                <header>
                    <img class="card-img-top" src="{{partitem.thumbnail|static_url}}" alt="{% trans title=partitem.title %}Thumbnail image for part {{title}}{% endtrans %}">
                </header>
                {% endif %}

                <ul class="contents">
                    <li>
                        {% with subitem=partitem %}
                        {% include "inner_subitem.html" %}
                        {% endwith %}
                    </li>
                </ul>
            {% endif %}
        </article>
    </li>
    {% endif %}
{% endfor %}
</ul>
