{% import "macros.html" as macros %}
<header>
    <h2>
        <a class="undecorated" href="{{partitem.url|url}}">{{partitem.title}}</a>
        {% if partitem.has_pdf %}
            <a target="_blank" class="float-right ml-2" href="{{partitem.pdf_url|url}}">{{macros.icon('file-pdf-o','PDF')}}</a>
        {% endif %}
    </h2>
    {% if partitem.thumbnail %}
    <img class="thumbnail" src="{{partitem.thumbnail|static_url}}" alt="Thumbnail image for part {{partitem.title}}">
    {% endif %}
</header>

<ul class="contents">
    {% for subitem in partitem.content %}
    <li>
        {% include "inner_subitem.html" %}
    </li>
    {% endfor %}
</ul>
