{% import "macros.html" as macros %}
<header>
    <h2>
        <a class="undecorated" href="{{partitem.url|url}}">{{partitem.title}}</a>

        <ul class="alternative-formats">
            {% for format in partitem.alternative_formats() %}
            <li><a class="undecorated" href="{{format.url|url}}"{% if format.download %} download{% endif %} title="{{format.name}}">{{macros.icon(format.name|lower, format.name)}}</a></li>
            {% endfor %}
        </ul>
    </h2>
    {% if partitem.thumbnail %}
    <img class="thumbnail" src="{{partitem.thumbnail|static_url}}" alt="Thumbnail image for part {{partitem.title}}">
    {% endif %}
</header>

<ul class="contents">
    {% for subitem in partitem.content %}
    {% if not subitem.is_explicitly_hidden %}
    <li>
        {% include "inner_subitem.html" %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
